<div class="container">
    <div class="row">
        <div class="col col-auto ml-auto">
            <h1>יצירת קשר</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="שם פרטי">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="שם משפחה">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="email" class="form-control" placeholder="כתובת דואר אלקטרוני">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="מספר פלאפון">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea name="message" class="form-control" ngModel rows="5" #message="ngModel" placeholder="טקסט חופשי"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col col-auto">
            <button type="submit" class="btn">שלח</button>
        </div>
    </div>
</div>