<div class="container">
    <div class="row">

        <div class="col-sm">
            <select class="form-control">
                <option value="all" selected disabled>בחר איזור</option>
                <option value="all">הכל</option>
                <option value="north">צפון</option>
                <option value="center">מרכז</option>
                <option value="south">דרום</option>
            </select>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="fill">
                <mat-label>בחר תאריכים</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="תאריך הגעה">
                  <input matEndDate placeholder="תאריך עזיבה">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            <!-- <mat-form-field>
                <input matInput [matDatepicker]="myDatePicker">
                <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker></mat-datepicker>
            </mat-form-field> -->
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>