*{
    direction: rtl;
    text-align: center;
}
#search-bar{
    margin: 3% 0;
    border: solid 3px #ECB365;
    background-color: #ecb46558;
    border-radius: 15px;
    padding-top: 1.5%;
    text-align: start;
}
button{
    border-radius: 100px;
    border: 3px solid black;
    height: 3.5rem;
    margin-top: 12%;
}

/* Mobile-screen */
@media screen and (max-width: 900px) {
    *{
        text-align: right;
    }
    #form1{
        width: 210px;
    }
    #form2{
        width: 210px;
    }
    button{
        height: 3.5rem;
        margin-top: 18%;
        width: 100%;
        text-align: center;
    }
}