*{
    direction: rtl;
}
#search-bar{
    margin-top: 3%;
    background-color: rgb(239, 239, 255);
    border-radius: 5px;
    padding: 2%;
    text-align: start;
}

mat-form-field{
    text-align:start;
}

button{
    border-radius: 100px;
    border: solid black 3px;
    height: 3.5rem;
}
