*{
    direction: rtl;
}
#search-bar{
    margin: 3% 0;
    background-color: #ECB365;
    border-radius: 5px;
    padding-top: 1.5%;
    text-align: start;
}

mat-form-field{
    text-align:start;
}
button{
    border-radius: 100px;
    border: solid black 3px;
    height: 3.5rem;
}
