/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/flatpickr/dist/flatpickr.min.css';

html, body { 
    height: 100%;
    /* background-color: #041C32  */
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* color: aliceblue; */
}

.my-snackbar{
    font-size: xx-large;
    font-weight: bold;
    background-color: #064663;
    color: #f09517;
    direction: rtl;
    text-align: center;
}

.my-snackbar button {
    font-weight: bolder;
    text-decoration: underline;
    color: #fdb147;
    border: none;
    margin: 0% 10%;
}