<div id="loading" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
    <div class="row justify-content-center">
        <div class="col-11 col-md-8">
            <mat-tab-group dynamicHeight dir="rtl">
                    <ng-template #Empty>
                        <div class="row justify-content-center" style="margin: 18% 0%;">
                            <h1>אין פריטים להצגה</h1>
                        </div>
                    </ng-template>
                <mat-tab label="המועדפים שלי">
                    <ng-template [ngIf]="client.favorites.length > 0" [ngIfElse]="Empty">
                        <div class="row">
                            <div class="col-4 col-auto ml-auto title">
                                <h1><b>({{ client.favorites.length }} תוצאות)</b></h1>
                            </div>
                        </div>
                        <div class="row justify-content-start hut-details space" *ngFor="let zimmer of client.favorites; let index = index">
                            <div class="col-12 col-md-4">
                                <ngb-carousel [showNavigationIndicators]="false">
                                    <ng-template ngbSlide *ngFor="let image of client.favorites[index].images; let image_index = index">
                                      <div>
                                        <img [src]="image | getDownloadURL" height="300px" width="100%">
                                      </div>
                                      <div class="carousel-caption">
                                            {{ client.favorites[index].images.length }} / {{ image_index+1 }}
                                      </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                            <div class="col-6 col-md-3" (click)="zimmer_clicked(zimmer)">
                                <h1>{{ zimmer.zimmerName }}<h4><mat-icon> location_on</mat-icon> {{ zimmer.region }}</h4></h1>
                                <h4>{{ (zimmer.generalDescription.length>130)? (zimmer.generalDescription | slice:0:130)+'...':(zimmer.generalDescription) }}<h5 *ngIf="zimmer.generalDescription.length > 130"><b>לחץ להמשך קריאה ופרטים נוספים</b></h5></h4>
                                <div class="row" *ngIf="zimmer.features != undefined">
                                    <div class="col-6" *ngIf="zimmer.features.includes('jacuzzi')">
                                        <h6><mat-icon>hot_tub</mat-icon> ג'קוזי</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('pool')">
                                        <h6><mat-icon>pool</mat-icon> בריכה</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('heated_pool')">
                                        <h6><mat-icon>pool</mat-icon> בריכה מחוממת</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('indoor_pool')">
                                        <h6><mat-icon>pool</mat-icon> בריכה מקורה</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('air_conditioner')">
                                        <h6><mat-icon>wb_sunny</mat-icon> מזגן</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('wifi')">
                                        <h6><mat-icon>wifi</mat-icon> wifi</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('sauna')">
                                        <h6><mat-icon>spa</mat-icon> סאונה</h6>
                                    </div>
                                    <div class="col-6" *ngIf="zimmer.features.includes('parking')">
                                        <h6><mat-icon> local_parking</mat-icon> חניה</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4" (click)="zimmer_clicked(zimmer)">
                                <h2>{{ zimmer.ownerName }} - {{ zimmer.phone }}</h2>
                                <h4>מקסימום אורחים: {{ zimmer.total_capacity }}</h4>
                                <h4>מספר בקתות: {{ zimmer.huts.length }}</h4>
                                <h4>דירוג הגולשים: <ngb-rating  [rate]="(zimmer.rate != undefined)? (zimmer.rate):4" [readonly]="true" [max]="5"></ngb-rating></h4>
                                <div class="price row">
                                    <div class="col-6">
                                        <h2>אמצ"ש החל מ {{ zimmer.min_price_regular }} ש"ח</h2>
                                    </div>
                                    <div class="col-6">
                                        <h2>סופ"ש החל מ {{ zimmer.min_price_weekend }} ש"ח</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1">  
                                <button (click)="zimmer_clicked(zimmer)" class="btn btn-block order-here">הזמן כאן</button>
                                <button (click)="removeFavorite(zimmer)" class="btn btn-block remove-favorite"><mat-icon>close</mat-icon></button>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>   
            </mat-tab-group>        
        </div>
    </div>    
</div>

