<footer class="text-center text-white secondary-color sticky-bottom">

    <div class="container p-3">
      <a class="publish" routerLink="create-zimmer">פרסם באתר</a>
      <a class="publish" routerLink="contact-us"><mat-icon>contact_mail</mat-icon> צור קשר</a>
      <a href="#">
        <img class="logo" src="../../assets/logo3.png" height="80" width="80">
      </a>
    </div>

    <div class="text-center p-3 primary-color">
      כל הזכויות שמורות <mat-icon>copyright</mat-icon> GoEasy
    </div>

</footer>