*{
    text-align: right;
    direction: rtl;   
}

.container-fluid{
    padding: 3%;
}

.hut-details{
    border: solid 1px #c7c7c7;
    border-radius: 5px;
    margin-top: 3%;
    padding: 1.5% 0;
}

.hut-details:hover{
    border: solid 1px #041C32;
    background: linear-gradient(#e6e6e69d, #ffffff, #e6e6e69d);
    cursor: pointer;
}
.underline{
    text-decoration: underline;
}
.hut-details h2, h3, h4{
    margin: 0;
}
.price{
    position: absolute;
    bottom: 0;
    margin-left: 2%;
}
.price h2{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 3px #ECB365);
    text-align: center;
    font-weight: bold;
    color: #041C32;
    border-radius: 10px;
}
mat-icon{
    vertical-align: middle;
}

.buttonTab{ 
    margin: 6% 2%;
}
.title{
    margin: 1%;
}
.space{
    margin: 1% 0 3% 0;
}
.price{
    position: absolute;
    bottom: 0;
    margin-left: 2%;
}
.price h2{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 3px #ECB365);
    text-align: center;
    font-weight: bold;
    color: #041C32;
    border-radius: 10px;
}
#loading{
    text-align: center;
    margin: 18% 0%;
}
.zimmer-list{
    margin: 2% 5%;
    margin-bottom:20px;
}
.carousel-caption{
    color: #ECB365;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #041c3244;
    border-radius: 50%;
    padding: 3%;
}
::ng-deep .mat-tab-header {
    overflow-x: scroll !important;

} 

::ng-deep .mat-tab-label-container { 
    overflow: visible !important;
}

::ng-deep .mat-tab-header::-webkit-scrollbar {
    display: none;
}

button{
    text-align: center;
}
.rating{
    transform: scale(2);
}