*{
    direction: rtl;
    text-align: right;
}
.container{
    margin-top: 60px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.help-block{
    color: red;
}
.hut-details{
    border: solid 0.1px #ECB365;
    border-radius: 5px;
    padding: 0 2%;
}

