<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">

        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <h1>פרטים כלליים:</h1>
          <div class="form-group">
            <label for="owner-name">שם בעל הצימר *</label>
            <input type="text" name="owner-name" ngModel class="form-control" required #ownerName="ngModel">
            <span class="help-block" *ngIf="ownerName.touched && ownerName.invalid">* שדה חובה!</span>
          </div> 
    
          <div class="form-group">
            <label for="phone">מספר פלאפון *</label>
            <input type="text" name="phone" ngModel class="form-control" required minlength="10" maxlength="10" #phone="ngModel">
            <span class="help-block" *ngIf="phone.touched && phone.invalid">* מספר פלאפון לא חוקי!</span>
          </div>             
        
          <div class="form-group">
            <label for="zimmer-name">שם צימר *</label>
            <input type="text" name="zimmer-name" ngModel class="form-control" required #zimmerName="ngModel">
            <span class="help-block" *ngIf="zimmerName.touched && zimmerName.invalid">* שדה חובה!</span>
          </div> 
          
          <div class="form-group">
            <label for="email">דואר אלקטרוני</label>
            <input type="text" name="email" ngModel class="form-control" email #email="ngModel">
            <span class="help-block" *ngIf="email.touched && email.invalid">* דואר אלקטרוני לא חוקי!</span>
          </div> 

          <div class="form-group">
            <label for="region">איזור *</label>
            <select name="region" class="form-control">
              <option *ngFor="let region of regions" [value]="region">{{region }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="general-description">תיאור *</label>
            <textarea name="general-description" class="form-control" ngModel required rows="4" #generalDescription="ngModel"></textarea>
            <span class="help-block" *ngIf="generalDescription.touched && generalDescription.invalid">* שדה חובה!</span>
          </div>
  
          <p *ngIf="form.invalid && form.touched">לפחות אחד מהשדות אינו חוקי!</p>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">אישור</button>
  
        </form>

      </div>
      <div class="col-12 col-sm-6 col-md-8 border-right">
        <h1>פרטים על יחידות האירוח:</h1>
        <div class="row hut-details" *ngFor="let i of [].constructor(5)">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-6">
                <div class="form-group">
                  <label for="hut-name">שם יחידה *</label>
                  <input type="text" name="hut-name" ngModel class="form-control" required #hutName="ngModel">
                  <span class="help-block" *ngIf="hutName.touched && hutName.invalid">* שדה חובה!</span>
                </div> 
              </div>
              <div class="col-md-3 col-6">
                <div class="form-group">
                  <label for="capacity">מקסימום אורחים *</label>
                  <input type="number" name="capacity" ngModel class="form-control" min='1' required #capacity="ngModel">
                  <span class="help-block" *ngIf="capacity.touched && capacity.invalid">* שדה חובה!</span>
                </div> 
              </div>
              <div class="col-md-3 col-6">
                <div class="form-group">
                  <label for="regular-price">מחיר ללילה באמצ"ש *</label>
                  <input type="number" name="regular-price" ngModel class="form-control" min='1' required #regularPrice="ngModel">
                  <span class="help-block" *ngIf="regularPrice.touched && regularPrice.invalid">* שדה חובה!</span>
                </div> 
              </div>
              <div class="col-md-3 col-6">
                <div class="form-group">
                  <label for="weekend-price">מחיר ללילה בסופ"ש *</label>
                  <input type="number" name="weekend-price" ngModel class="form-control" min='1' required #weekendPrice="ngModel">
                  <span class="help-block" *ngIf="weekendPrice.touched && weekendPrice.invalid">* שדה חובה!</span>
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-12">
                <div class="form-group">
                  <mat-checkbox type="checkbox" name="jacuzzi" ngModel color="primary" #jacuzzi="ngModel">ג'קוזי</mat-checkbox>
                </div> 
              </div>
              <div class="col-md-3 col-12">
                <div class="form-group">
                  <mat-checkbox type="checkbox" name="pool" ngModel color="primary" #pool="ngModel">בריכה</mat-checkbox>
                </div> 
              </div>
              <div class="col-md-3 col-12">
                <div class="form-group">
                  <mat-checkbox type="checkbox" name="pool" ngModel color="primary" #pool="ngModel">אופציה 1</mat-checkbox>
                </div> 
              </div>
              <div class="col-md-3 col-12">
                <div class="form-group">
                  <mat-checkbox type="checkbox" name="pool" ngModel color="primary" #pool="ngModel">אופציה 2</mat-checkbox>
                </div> 
              </div>
            </div>
            <div class="row float-md-left">
              <div class="col-12">
                <button type="button" class="btn">שמור</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
