*{
    direction: rtl;
}
#publish{
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    background-color: #041C32;
    cursor: pointer;
    text-align: center;
}
#publish:hover{
    background-color: #ECB365;
    transition: 0.5s;
}
.primary-color{
    background-color: #041C32;
    /* third-color = 064663 */
}
mat-icon{
    vertical-align: middle;
}
.collapse{
    text-align: center;
}

body{
    background-color: #ECB365;
    text-align: center;
    vertical-align: center;
}