*{
    direction: rtl;
    transition: none;
}
#publish{
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    background-color: #041C32;
    cursor: pointer;
    text-align: center;
}
#publish:hover{
    background-color: #ECB365;
    transition: 0.5s;
}
.primary-color{
    background-color: #041C32;
    /* third-color = 064663 */
}
mat-icon{
    vertical-align: middle;
}
.search-zimmer{
    text-align:start;
    color: aliceblue;
    background-color: #064663;
}
::placeholder{
    color: rgb(184, 185, 185);
}
.collapse{
    text-align: center;
}
.btn{
    color: #ECB365;
}
.search-wrapper{
    border: #ECB365 solid 1px;
    border-radius: 5px;
    margin-right: 10%;
}
input{
    border: 0;
}
body{
    background-color: #ECB365;
    text-align: center;
    vertical-align: center;
}

div { display: table; }
div.t {
    display: table-cell;
    width: 100%;
}
div.t > input {
    width: 100%;
}

@media screen and (max-width: 900px) { 
    *{
        transition: none;
    }      
    .collapse{
        margin: 0 15%;
    }
    .search-wrapper{
        margin: 0;
    }
}