<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark primary-color static-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img id="logo" src="../../assets/logo3.png" height="80" width="80">
    </a>
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['home']"><mat-icon>list_alt</mat-icon> רשימת הצימרים</a>
        </li>
        <li *ngIf="!this.authService.admin" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['contact-us']"><mat-icon>contact_mail</mat-icon> צור קשר</a>
        </li>
        <li *ngIf="isLoggedIn && this.authService.zimmer.zimmer_id" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['my-zimmer', this.authService.zimmer.zimmer_id]"><mat-icon>home</mat-icon> הצימר שלי</a>
        </li>
        <li *ngIf="isLoggedIn && this.authService.zimmer.zimmer_id" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['my-orders', this.authService.zimmer.zimmer_id]"><mat-icon>bookmark</mat-icon> ההזמנות שלי</a>
        </li>
        <li *ngIf="isLoggedIn && this.authService.zimmer == 'client' && !this.authService.admin" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['my-orders']"><mat-icon>bookmark</mat-icon> ההזמנות שלי</a>
        </li>
        <li *ngIf="isLoggedIn && this.authService.zimmer == 'client' && !this.authService.admin" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['favorites']"><mat-icon>favorite</mat-icon>  מועדפים</a>
        </li>
        <li *ngIf="isLoggedIn && this.authService.admin" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['admin', 'pending-requests']"><mat-icon>playlist_add_check</mat-icon> ניהול בקשות</a>
        </li>
        <li>
          <div class="search-wrapper">
            <div class="t">
                <input #zimmer_to_search type="text" class="form-control search-zimmer" placeholder="חיפוש צימר לפי שם">
            </div>
            <button class="btn" (click)="onZimmerSearch(zimmer_to_search.value)" mat-stroked-button><mat-icon>search</mat-icon></button>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!isLoading && isLoggedIn && this.authService.zimmer == 'client' && !this.authService.admin" class="nav-item">
          <a class="nav-link">הנקודות שצברתי: {{ points }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a *ngIf=!isLoggedIn class="nav-link" [routerLink]="['login-page']"><mat-icon>account_box</mat-icon> כניסה למנויים</a>
          <a style="cursor: pointer;" *ngIf="isLoggedIn" class="nav-link" (click)="onLogout()"><mat-icon>account_box</mat-icon> התנתק</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['signup-page']"><mat-icon>person_add</mat-icon>הרשמה</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="publish" aria-current="page" routerLink="create-zimmer">פרסם באתר</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
