*{
    text-align: right;  
}
.hut-details{

    border: solid 1px #c7c7c7;
    /* background-color: rgb(236, 179, 101, 1); */
    /* background-color: rgb(239, 239, 255); */
    /* box-shadow: 5px 5px 10px 1px #04293A; */
    border-radius: 5px;
    margin-top: 3%;
    padding: 1.5% 0;
}
.hut-details:hover{
    border: solid 1px #041C32;
    /* box-shadow: 5px 5px 10px 1px #04293A; */
    background: linear-gradient(#e6e6e69d, #ffffff, #e6e6e69d);
    cursor: pointer;
}
.hut-details:hover h1{
    text-decoration: underline;
}
.price{
    position: absolute;
    margin-left: 1%;
}
.price h2{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 3px #ECB365);
    text-align: center;
    font-weight: bold;
    color: #041C32;
}
.price h5{
    position: absolute;
    left: 0;
    background-color: #2e832b;
    color: #ffffff;
    padding: 1%;
    font-weight: bold;
    border-radius: 10%;
    text-align: center;
}
mat-icon{
    vertical-align: middle;
}

#loading{
    text-align: center;
    margin: 14% 0%;
}
.zimmer-list{
    margin: 2% 5%;
    margin-bottom:20px;
}
button{
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    background-color: #041C32;
    cursor: pointer;
    display: block;
}
button:hover{
    background-color: #064663;
    color: aliceblue;
    transition: 0.1s;
}
.carousel-caption{
    color: #ECB365;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #041c3244;
    border-radius: 50%;
    padding: 3%;
}
.sort-btn{
    margin-bottom: 5%;
    display: inline;
}