*{
    text-align: right;  
}
.hut-details{
    border: solid 1px #c7c7c7;
    border-radius: 5px;
    margin-top: 3%;
    padding: 1.5% 0;
}
.hut-details:hover{
    border: solid 1px #041C32;
    background: linear-gradient(#e6e6e69d, #ffffff, #e6e6e69d);
    cursor: pointer;
}
.hut-details:hover h1{
    text-decoration: underline;
}
.hut-details:hover h5{
    text-decoration: underline;
}
.price{
    position: absolute;
    margin-left: 1%;
    margin-top: 10%;
}
.price h2{
    display: block;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 3px #ECB365);
    text-align: center;
    font-weight: bold;
    color: #041C32;
}
mat-icon{
    vertical-align: middle;
}

#loading{
    text-align: center;
    margin: 18% 0%;
}
.zimmer-list{
    margin: 2% 5%;
    margin-bottom:20px;
}
button{
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    text-align: center;
    background-color: #041C32;
    cursor: pointer;
    display: block;
}
button:hover{
    background-color: #064663;
    color: aliceblue;
    transition: 0.1s;
}
.carousel-caption{
    color: #ECB365;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #041c3244;
    border-radius: 50%;
    padding: 3%;
}
.sort-btn{
    margin-bottom: 5%;
    display: inline;
}
.favorite{
    color: #041C32;
    transform: scale(1);
}
.favorite:hover{
    transform: scale(1.4); 
    transition: 0.5s;
}

/* Mobile-screen */
@media screen and (max-width: 900px) {
    .prices_and_details h2, h4{
        font-size: medium;
        margin: 1%;
    }
    .price{
        position: absolute;
        right: 30px;
        text-align: right;
        margin-left: 2%;
        padding: 0;
    }
    .price h2{
        font-size: medium;
        text-align: right;
        font-weight: normal;
    }
    .description_and_features h6{
        font-size: small;
        margin: 0;
        padding: 0;
    }
    .description_and_features h1{
        font-size: medium;
    }
    .description{
        font-size: small;
    }
    .block_and_book{
        margin-top: 10%;
    }
    .title h1{
        font-size: medium;
    }
}
/* PC-screen */
@media screen and (min-width: 900px) {
    .order-here{
        position: absolute;
        bottom: 0;
        left: 15px;
        width: 6rem;
    }
    .block-zimmer{
        position: absolute;
        left: 15px
    }
}


