*{
    text-align: right;   
}
.hut-details{
    border: solid 3px #041C32;
    background-color: rgb(236, 179, 101, 1);
    box-shadow: 1px 1px 20px 1px #041C32;
    border-radius: 5px;
    padding: 0 2%;
    margin-top: 2%;
}
