*{
    text-align: right;  
}
.hut-details{

    border: solid 1px #c7c7c7;
    /* background-color: rgb(236, 179, 101, 1); */
    /* background-color: rgb(239, 239, 255); */
    /* box-shadow: 5px 5px 10px 1px #04293A; */
    border-radius: 5px;
    margin-top: 3%;
    padding: 1.5% 0;
}

.hut-details:hover{
    border: solid 1px #041C32;
    /* box-shadow: 5px 5px 10px 1px #04293A; */
    background: linear-gradient(#e6e6e69d, #ffffff, #e6e6e69d);
    cursor: pointer;
}
.hut-details:hover h1{
    text-decoration: underline;
}
.price{
    position: absolute;
    bottom: 0;
    margin-left: 2%;
}
.price h2{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(1px 1px 3px rgb(18, 151, 0));
    text-align: center;
    font-weight: bold;
    color: #041C32;
    border-radius: 10px;
}
mat-icon{
    vertical-align: middle;
}

#loading{
    text-align: center;
    margin: 14% 0%;
}