*{
    text-align: right;   
}
.hut-details{
    border: solid 1px #c7c7c7;
    /* background-color: rgb(236, 179, 101, 1); */
    /* background-color: rgb(239, 239, 255); */
    /* box-shadow: 5px 5px 10px 1px #04293A; */
    border-radius: 5px;
    margin-top: 3%;
    /* padding-right: 2%; */
    padding: 1.5% 0;
}

.hut-details:hover{
    border: solid 1px #041C32;
}
