<div id="loading" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col-12 col-md-2">
            <app-control-panel></app-control-panel>            
        </div>

        <div class="col-11 col-md-7 zimmer-list">
            <ng-template [ngIf]="zimmers_to_display.length > 0" [ngIfElse]="Empty">
                <div class="row">
                    <div class="col-4 col-auto ml-auto">
                        <h1><b>({{ zimmers_to_display.length }} תוצאות)</b></h1>
                    </div>
                    <div class="sort-elements">
                        <button class="btn sort-btn" *ngIf="!sort_direction" (click)="sortDirection()"><mat-icon>arrow_downward</mat-icon></button>
                        <button class="btn sort-btn" *ngIf="sort_direction" (click)="sortDirection()"><mat-icon>arrow_upward</mat-icon></button>
                        <mat-form-field dir='rtl' appearance="fill">
                          <mat-label>מיין לפי</mat-label>
                          <mat-select (selectionChange)="sortBy($event)">
                            <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                              {{sort.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-start hut-details" *ngFor="let zimmer of zimmers_to_display; let index = index">
                    <div class="col-12 col-md-4">
                        <ngb-carousel [showNavigationIndicators]="false">
                            <ng-template ngbSlide *ngFor="let image of zimmers_to_display[index].images; let image_index = index">
                              <div>
                                <img [src]="image | getDownloadURL" height="300px" width="100%">
                              </div>
                              <div class="carousel-caption">
                                    {{ zimmers_to_display[index].images.length }} / {{ image_index+1 }}
                              </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <div class="col-6 col-md-4" (click)="zimmer_clicked(zimmer)">
                        <h1>{{ zimmer.zimmerName }}</h1>
                        <h4>{{ (zimmer.generalDescription.length>130)? (zimmer.generalDescription | slice:0:130)+'...':(zimmer.generalDescription) }}<h5 *ngIf="zimmer.generalDescription.length > 130"><b>לחץ להמשך קריאה ופרטים נוספים</b></h5></h4>
                        <div class="row" *ngIf="zimmer.features != undefined">
                            <div class="col-6" *ngIf="zimmer.features.includes('jacuzzi')">
                                <h6><mat-icon>hot_tub</mat-icon> ג'קוזי</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('pool')">
                                <h6><mat-icon>pool</mat-icon> בריכה</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('heated_pool')">
                                <h6><mat-icon>pool</mat-icon> בריכה מחוממת</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('indoor_pool')">
                                <h6><mat-icon>pool</mat-icon> בריכה מקורה</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('air_conditioner')">
                                <h6><mat-icon>wb_sunny</mat-icon> מזגן</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('wifi')">
                                <h6><mat-icon>wifi</mat-icon> wifi</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('sauna')">
                                <h6><mat-icon>spa</mat-icon> סאונה</h6>
                            </div>
                            <div class="col-6" *ngIf="zimmer.features.includes('parking')">
                                <h6><mat-icon> local_parking</mat-icon> חניה</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4" (click)="zimmer_clicked(zimmer)">
                        <h4><mat-icon> location_on</mat-icon> {{ zimmer.region }}</h4>
                        <h2>{{ zimmer.ownerName }} - {{ zimmer.phone }}</h2>
                        <h4>מקסימום אורחים: {{ zimmer.total_capacity }}</h4>
                        <h4>מספר בקתות: {{ zimmer.huts.length }}</h4>
                        <div class="price row">
                            <div class="col-6">
                                <h2>אמצ"ש החל מ {{ zimmer.min_price_regular }} ש"ח</h2>
                            </div>
                            <div class="col-6">
                                <h2>סופ"ש החל מ {{ zimmer.min_price_weekend }} ש"ח</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #Empty>
                <div class="row justify-content-center">
                    <h1>אין פריטים להצגה</h1>
                </div>
            </ng-template>
        </div>
    </div>
</div>