.control{
    filter: drop-shadow(5px 5px 10px #04293A);
    background-color: #ECB365;
    opacity: 0.9;
    border-radius: 50px;
    padding: 3%;
    margin: 4% 0;
}   
.control:hover{
    font-weight: bold;
    filter: drop-shadow(10px 10px 10px #04293A);
    border-radius: 20px;
    opacity: 1;
}
.wrapper{
    margin: 50% 0;
}   
@media screen and (max-width: 900px) {
    .wrapper {
        margin: 5% 0;
    }
    .super-title{
        display: none;
    }
}
.super-title{
    font-weight: bold;
    color: #04293A;
}
.title{
    font-weight: bold;
    color: #ECB365;
    text-decoration: underline;
}
button{
    width: 5rem;
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    background-color: #041C32;
    cursor: pointer;
}
button:hover{
    background-color: #ECB365;
    transition: 0.5s;
}
.col-4{
    border: solid gray 1px;
}

mat-expansion-panel{
    background-color: #064663;
}
mat-panel-description{
    margin: 0;
    color: aliceblue;
}
.arrow{
    position: absolute;
    left: 5px;
}