.control{
    /* border-radius: 2rem; */
    /* background-color: rgb(206, 206, 253); */
    box-shadow: 5px 5px 10px 1px #04293A;
    /* border: solid #04293A; */
    background-color: rgb(239, 239, 255);
    padding: 3%;
    margin: 4% 0;
}   
mat-form-field{
    text-align:start;
}
