*{
    direction: rtl;
}
#loading{
    text-align: center;
    margin: 14% 0%;
}
.container{
    border: #3ea7c7 solid 3px;
    padding: 3%;
    border-radius: 50px;
    text-align: center;
}
.title{
    font-size: xx-large;
    font-weight: bold;
    color: #041C32;
}
.description{
    margin: 0% 3%;
    padding: 1% 2%;
    text-align: right;
    background-color: rgb(225, 241, 255);
    border-radius: 10%;
}
.hut-list{
    margin: 2% 0;
    text-align: right;
}
.hut-list h3, h2{
    margin: 0;
    display: inline-block;
}
.features h6{
    color: #f09517;
}
.hut-title{
    color: #0a3d4d;
    font-weight: bold;
}