*{
    direction: rtl;
}
#loading{
    text-align: center;
    margin: 18% 0%;
}
.container-fluid{
    padding: 3%;
}
.wrapper{
    border: #3ea7c7 solid 3px;
    padding: 3%;
    margin-top: 5%;
    border-radius: 50px;
    text-align: center;
}
.title{
    font-size: xx-large;
    font-weight: bold;
    color: #041C32;
}
.description{
    padding: 1% 2%;
    text-align: right;
    background-color: rgb(225, 241, 255);
    border-radius: 10%;
}
.hut-list{
    margin: 5% 0;
    text-align: right;
    box-shadow: 0px 2px 2px 0px #c1c1c1;
}
.hut-list h3, h2{
    margin: 0;
    display: inline-block;
}
.price h4{
    display: inline-block;
}
.hut-list:hover{
    background-color: #f4f4f4;
}
.features h6{
    color: #f09517;
}
.hut-title{
    color: #0a3d4d;
    font-weight: bold;
}

.container{
    margin-top: 3%;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.help-block{
    color: red;
}
.hut-details{
    border: solid 0.1px #ECB365;
    border-radius: 5px;
    padding: 0 2%;
    margin-top: 2%;
}
::ng-deep .mat-checkbox-inner-container {
    margin-left:10% !important;
}
button{
    color: aliceblue;
    border: solid 2px #ECB365;
    border-radius: 10px;
    background-color: #041C32;
    cursor: pointer;
}
button:hover{
    background-color: #ECB365;
    transition: 0.5s;
}
button:hover[disabled]{
    color: aliceblue;
    background-color: #041C32;
    cursor: not-allowed;
}
button:active{
    background-color: #f59e23;
    transform: translateY(1px);
    transition: none;
}

.float-md-left{
    margin: 1% 0%;
}
.border-right h1{
    margin-right: 1%;
}
#hut-list{
    margin-right: 1%;
}
.append-and-submit{
    margin-top: 2%;
}
.hut-submitted{
    background-color: rgb(235, 233, 233);
    opacity: 0.7;
}
.hut-images{
    margin: 1% 0% 3% 0%;
}
agm-map{
    height: 300px
}
@media screen and (max-width: 900px) {

    img{
        height: 300px;
    }
    .description{
        margin: 3%;
        padding: 5%;
    }
    .price h3{
        display: block;
    }
    .features h6{
        font-size: small;
        margin: 0;
    }
    .hut-list h2{
        font-size: small;
    }

    .details-wrapper img{
        width: 30px;
        height: 30px;
    }

}
